In [1]:
import pandas as pd 
import requests

In [2]:
# Output File (CSV)
filepath = "25cities.csv"

In [3]:
city_sample = pd.read_csv(filepath)
city_sample.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
1,Anacortes,Anacortes,WA,Washington,53057,Skagit,53057,Skagit,48.4878,-122.6292,17955,559,polygon,False,True,America/Los_Angeles,3,98221,1840018366
2,Omak,Omak,WA,Washington,53047,Okanogan,53047,Okanogan,48.4228,-119.5159,8130,478,polygon,False,True,America/Los_Angeles,3,98841,1840019761
3,Loon Lake,Loon Lake,WA,Washington,53065,Stevens,53065,Stevens,48.0685,-117.6298,784,92,polygon,False,False,America/Los_Angeles,3,99148,1840023998
4,Sauk City,Sauk City,WI,Wisconsin,55111,Sauk,55111,Sauk,43.2721,-89.7307,3468,905,polygon,False,True,America/Chicago,3,53583,1840002729

In [4]:
urls = []
for index,row in city_sample.iterrows(): 
    lat = city_sample.lat[index]
    lon = city_sample.lng[index]
    
    query_url = f'https://api.teleport.org/api/locations/{lat}%2C%20{lon}/'
    
    urls.append(query_url)

In [5]:
urls

['https://api.teleport.org/api/locations/47.3352%2C%20-122.5968/',
 'https://api.teleport.org/api/locations/48.4878%2C%20-122.6292/',
 'https://api.teleport.org/api/locations/48.4228%2C%20-119.5159/',
 'https://api.teleport.org/api/locations/48.0685%2C%20-117.6298/',
 'https://api.teleport.org/api/locations/43.2721%2C%20-89.7307/',
 'https://api.teleport.org/api/locations/44.8476%2C%20-88.3592/',
 'https://api.teleport.org/api/locations/35.9939%2C%20-106.0358/',
 'https://api.teleport.org/api/locations/35.37%2C%20-105.4441/',
 'https://api.teleport.org/api/locations/32.569%2C%20-97.1211/',
 'https://api.teleport.org/api/locations/30.3006%2C%20-97.7517/',
 'https://api.teleport.org/api/locations/28.4772%2C%20-81.3369/',
 'https://api.teleport.org/api/locations/26.6195%2C%20-81.8303/',
 'https://api.teleport.org/api/locations/37.7562%2C%20-122.443/',
 'https://api.teleport.org/api/locations/32.7936%2C%20-96.7662/',
 'https://api.teleport.org/api/locations/27.9088%2C%20-82.7712/',
 'https://api.teleport.org/api/locations/40.7834%2C%20-73.9662/',
 'https://api.teleport.org/api/locations/34.0786%2C%20-118.4021/',
 'https://api.teleport.org/api/locations/34.0786%2C%20-118.4021/',
 'https://api.teleport.org/api/locations/29.4658%2C%20-98.5254/',
 'https://api.teleport.org/api/locations/29.8736%2C%20-97.93799999999999/',
 'https://api.teleport.org/api/locations/32.8312%2C%20-117.1225/',
 'https://api.teleport.org/api/locations/47.6211%2C%20-122.3244/',
 'https://api.teleport.org/api/locations/33.7627%2C%20-84.4225/',
 'https://api.teleport.org/api/locations/39.1239%2C%20-94.5541/',
 'https://api.teleport.org/api/locations/29.7869%2C%20-95.3905/']

In [42]:
city_name = []
latitude = []
longitude = []
Housing = []
Cost_of_Living = []
Startups = []
Venture_Capital = []
Travel_Connectivity = []
Commute = []
Business_Freedom = []
Safety = []
Healthcare = []
Education = []
Environmental_Quality = []
Economy = []
Taxation = []
Internet_Access = []
Leisure = []
Tolerance = []
Outdoors = []


for url in urls:
    try:
        response = requests.get(url).json()

        geoIDURL = response["_embedded"]["location:nearest-cities"][0]["_links"]["location:nearest-city"]["href"]
        geoResponse = requests.get(geoIDURL).json()
        latitude.append(geoResponse["_links"]["curies"]["location"]["latlon"]['latitude'])
        longitude.append(geoResponse["_links"]["curies"]["location"]["latlon"]['longitude'])

        slugURL = geoResponse['_links']["city:urban_area"]["href"]
        slugResponse = requests.get(slugURL).json()
        city_name.append(slugResponse["name"])

        detailURL = slugResponse["_links"]["ua:scores"]["href"]
        detailResponse = requests.get(detailURL).json()
        categories = detailResponse["categories"]
        Housing.append(categories[0]["score_out_of_10"])
        Cost_of_Living.append(categories[1]["score_out_of_10"])
        Startups.append(categories[2]["score_out_of_10"])
        Venture_Capital.append(categories[3]["score_out_of_10"])
        Travel_Connectivity.append(categories[4]["score_out_of_10"])
        Commute.append(categories[5]["score_out_of_10"])
        Business_Freedom.append(categories[6]["score_out_of_10"])
        Safety.append(categories[7]["score_out_of_10"])
        Healthcare.append(categories[8]["score_out_of_10"])
        Education.append(categories[9]["score_out_of_10"])
        Environmental_Quality.append(categories[10]["score_out_of_10"])
        Economy.append(categories[11]["score_out_of_10"])
        Taxation.append(categories[12]["score_out_of_10"])
        Internet_Access.append(categories[13]["score_out_of_10"])
        Leisure.append(categories[14]["score_out_of_10"])
        Tolerance.append(categories[15]["score_out_of_10"])
        Outdoors.append(categories[16]["score_out_of_10"])
        
    except Exception as e: 
        print(e)

list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str
list indices must be integers or slices, not str

In [29]:
categories[0]["score_out_of_10"]

5.224500000000001

In [39]:
geoResponse["_links"]

{'city:admin1_division': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:US/admin1_divisions/geonames:TX/',
  'name': 'Texas'},
 'city:alternate-names': {'href': 'https://api.teleport.org/api/cities/geonameid:4699066/alternate_names/'},
 'city:country': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:US/',
  'name': 'United States'},
 'city:timezone': {'href': 'https://api.teleport.org/api/timezones/iana:America%2FChicago/',
  'name': 'America/Chicago'},
 'city:urban_area': {'href': 'https://api.teleport.org/api/urban_areas/slug:houston/',
  'name': 'Houston'},
 'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
   'name': 'location',
   'templated': True},
  {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
   'name': 'city',
   'templated': True},
  {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
   'name': 'ua',
   'templated': True},
  {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
   'name': 'country',
   'templated': True},
  {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
   'name': 'a1',
   'templated': True},
  {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
   'name': 'tz',
   'templated': True}],
 'self': {'href': 'https://api.teleport.org/api/cities/geonameid:4699066/'}}

2.291

In [25]:
city_name

['Seattle',
 'Dallas',
 'Austin',
 'Orlando',
 'San Francisco Bay Area',
 'Dallas',
 'Tampa Bay Area',
 'New York',
 'Los Angeles',
 'Los Angeles',
 'San Antonio',
 'San Diego',
 'Seattle',
 'Atlanta',
 'Kansas City',
 'Houston']

In [31]:
Housing

[2.291,
 5.259000000000001,
 4.3345,
 5.778499999999999,
 1.0,
 5.259000000000001,
 5.696,
 1.0,
 1.5274999999999999,
 1.5274999999999999,
 6.402000000000001,
 2.9335,
 2.291,
 4.9755,
 6.7075,
 5.224500000000001]

In [36]:
df = pd.DataFrame()
df['City'] = city_name
df["Latitude"] = latitude
df['Longitude'] = longitude
df['Housing'] = Housing
df['Cost_of_Living'] = Cost_of_Living
df['Startups'] = Startups
df['Venture_Capital'] = Venture_Capital
df['Travel_Connectivity'] = Travel_Connectivity
df['Commute']= Commute 
df['Business_Freedom'] = Business_Freedom
df['Safety'] = Safety
df['Healthcare'] = Healthcare
df['Education'] = Education
df['Environmental_Quality'] = Environmental_Quality
df['Economy'] = Economy
df['Taxation'] = Taxation
df['Internet_Access']= Internet_Access 
df['Leisure'] = Leisure
df['Tolerance'] = Tolerance
df['Outdoors'] = Outdoors

In [37]:
df

Empty DataFrame
Columns: [City, Latitude, Longitude, Housing, Cost_of_Living, Startups, Venture_Capital, Travel_Connectivity, Commute, Business_Freedom, Safety, Healthcare, Education, Environmental_Quality, Economy, Taxation, Internet_Access, Leisure, Tolerance, Outdoors]
Index: []

In [34]:
df.to_csv('ScoreInfo.csv')